/* *{
    margin: 0;
    padding: 0;
} */
.container{
    /* border: 2px solid red; */
    height: 80px;
    display: grid;
    /* margin: 5px; */
    padding: 10px;
    background-color: #131921;
    
    /* grid-template-columns: repeat(7,200px); */
    grid-template-columns: 150px 130px 800px auto auto auto auto;

}
.container>div{
    /* border: 2px solid orange; */
    height: 80px;
}
#a{
    height: 100%;
    width: 100%;
}
.a1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 17px;
    color: white ;
}
#input{
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 750px;
    height: 35px;
    
}
.container1{
    /* border: 2px solid blue; */
    height: 30px;
    /* margin-top: 1px; */
    display: grid;
    grid-template-columns: 100px 100px 150px 100px 100px 100px auto;
    /* background-color: #131921; */
}
.container1>div{
    /* border: 2px solid black; */
    height: 25px;
    margin-top: 1px;
    background-color: #131921db;
    
}
.a2{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 15px;
    color: white;

}
.a12{
    color: aliceblue;
}
.container2{
    /* border: 2px solid pink; */
    height: 400px;
    margin-top: 5px;
}
.container2>div{
    /* border: 2px solid red; */
    margin: 5px;
    height: 390px ;
}
#b{
    height: 100%;
    width: 100%;
}
.container3{
    /* border: 2px solid red; */
    height: 40px;
}
.container3>div{
    border: 2px solid wheat;
    height: 40px;
    background-color: white;
}
#a11{
    display: flex;
    justify-content: center;
    font-size:15px;
    text-align: center;
}
.container4{
  
    /* border: 2px solid black; */
    height: 900px;
    margin-top:5px ;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    
}
.container4>div{
    /* border: 2px solid orange; */
    width: 360px;
    margin: 3px;
    height: 400px;
    background-color: aliceblue;
}
.ab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
}

.ab>div{
    /* border: 2px solid pink; */
    height: 100px;
    width: 150px;
    
}
.h{
    font-size: 30px;
    display: flex;
    justify-content:left;
}
.img{
    width: 100%;
    height: 100%;
}

.ab1>div{
    /* border: 2px solid red; */
    height: 70%;
    margin-top: 40px;
    
}
.h1{
    display: flex;
    justify-content: center;
    padding-top: 20px ;
    font-size: 30px;
}
.ab{

}
.ab>div{
    /* border: 2px solid pink; */
    height: 100px;
    width: 150px;
}
.container5{
    margin-top: 20px;
    /* border: 2px solid black; */
    height: 300px;
    display: grid;
    align-content: end;
    
}
.container5>div{
    /* border: 2px solid green; */
    margin-top: 5px;
    height: 250px;
}
.ph{
    height: 10px;
    margin-left: 15px;
}
.abc{
    display: flex;
    justify-content: space-evenly;
    
}
.abc>li{
  /* border: 2px solid blue; */
}
.container6{
    
    margin-top: 20px;
    /* border: 2px solid black; */
    height: 300px;
    display: grid;
    align-content: end;
}
.container6>div{
    /* border: 2px solid orange; */
    margin-top: 5px;
    height: 250px;
}
